<style>
    .plugin-content[plugin="settings"] .buttons {
        float: right;
    }
    .plugin-content[plugin="settings"] .buttons p {
        margin: 0;
    }
    .plugin-content[plugin="settings"] table {
        margin: auto;
        width: 100%;
    }
    .plugin-content[plugin="settings"] tr td:nth-child(1) {
        text-align: right;
        border-right: 0;
    }
    .plugin-content[plugin="settings"] tr td:nth-child(2) {
        text-align: left;
        width: 50%;
        border-left-width: 0;
    }
    .settings-panel {
        width: 90%;
        margin: auto;
    }

</style>
<h1>Settings
    <span class="info-icon" section="settings-info"/>
</h1>
<p class="info-content" section="settings-info">You can change configuration here. Some settings (e.g. page size, double
    space between scenes) may affect statistics which are based on assumption that 1 page = 1 minute of a movie .</p>
<div id="settings-panel-container"></div>
<script>
    require(['protoplast', 'view/settings-panel', 'bootstrap'], function(Protoplast, SettingsPanel, bootstrap) {

        var root = Protoplast.Component.Root(document.getElementById('settings-panel-container'), bootstrap.context);
        var panel = SettingsPanel.create();

        root.add(panel);
    });
</script>